 START
 PUSHI 0
 PUSHI 0
 PUSHI 0
 PUSHI 0
 PUSHI 0
 PUSHI 5
 STOREG 0
 PUSHI 40
 STOREG 1
 PUSHI 12
 STOREG 2
 PUSHI 5
 STOREG 3
 PUSHI 1
 STOREG 4
 PUSHS "A = "
 WRITES
 PUSHI 5
 WRITEI
 WRITELN
 PUSHS "B = "
 WRITES
 PUSHI 40
 WRITEI
 WRITELN
 PUSHS "C = "
 WRITES
 PUSHI 12
 WRITEI
 WRITELN
 PUSHS "D = "
 WRITES
 PUSHI 5
 WRITEI
 WRITELN
 PUSHS "E = "
 WRITES
 PUSHI 1
 WRITEI
 WRITELN
 STOP