 START
 PUSHI 0
 PUSHI 0
 PUSHI 0
 PUSHI 0
 PUSHI 10
 STOREG 0
 PUSHI 15
 STOREG 1
 PUSHI 30
 STOREG 2
 PUSHI 10
 STOREG 3
 PUSHS "X = "
 WRITES
 PUSHI 10
 WRITEI
 WRITELN
 PUSHS "Y = "
 WRITES
 PUSHI 15
 WRITEI
 WRITELN
 PUSHS "Z = "
 WRITES
 PUSHI 30
 WRITEI
 WRITELN
 PUSHS "W = "
 WRITES
 PUSHI 10
 WRITEI
 WRITELN
 STOP