 START
 PUSHI 0
 PUSHI 0
 PUSHI 0
 PUSHI 0
 PUSHS "Introduza um numero:"
 WRITES
 WRITELN
 READ
 ATOI
 STOREG 0
 PUSHG 0
 STOREG 1
 PUSHG 0
 STOREG 2
 PUSHI 0
 STOREG 3
 PUSHS "A + 0 = "
 WRITES
 PUSHG 1
 WRITEI
 WRITELN
 PUSHS "A * 1 = "
 WRITES
 PUSHG 2
 WRITEI
 WRITELN
 PUSHS "A * 0 = "
 WRITES
 PUSHI 0
 WRITEI
 WRITELN
 STOP