 START
 PUSHI 0
 PUSHI 0
 PUSHI 0
 PUSHI 0
 PUSHI 0
 PUSHI 0
 PUSHS "Introduza a base:"
 WRITES
 WRITELN
 READ
 ATOI
 STOREG 0
 PUSHG 0
 PUSHG 0
 MUL
 STOREG 2
 PUSHG 0
 WRITEI
 PUSHS " ao quadrado = "
 WRITES
 PUSHG 2
 WRITEI
 WRITELN
 PUSHG 0
 PUSHG 0
 MUL
 PUSHG 0
 MUL
 STOREG 3
 PUSHG 0
 WRITEI
 PUSHS " ao cubo = "
 WRITES
 PUSHG 3
 WRITEI
 WRITELN
 PUSHG 0
 PUSHG 0
 MUL
 PUSHG 0
 MUL
 PUSHG 0
 MUL
 STOREG 4
 PUSHG 0
 WRITEI
 PUSHS " a quarta = "
 WRITES
 PUSHG 4
 WRITEI
 WRITELN
 PUSHS "3 ao cubo = "
 WRITES
 PUSHI 27
 WRITEI
 WRITELN
 PUSHG 0
 WRITEI
 PUSHS " a zero = "
 WRITES
 PUSHI 1
 WRITEI
 WRITELN
 PUSHG 0
 WRITEI
 PUSHS " a um = "
 WRITES
 PUSHG 0
 WRITEI
 WRITELN
 PUSHS "Introduza o expoente:"
 WRITES
 WRITELN
 READ
 ATOI
 STOREG 1
 PUSHI 1
 PUSHG 1
LPOWSTART1:
 DUP 1
 PUSHI 0
 SUP
 JZ LPOWEND2
 SWAP
 PUSHG 0
 MUL
 SWAP
 PUSHI 1
 SUB
 JUMP LPOWSTART1
LPOWEND2:
 POP 1
 STOREG 5
 PUSHG 0
 WRITEI
 PUSHS " ** "
 WRITES
 PUSHG 1
 WRITEI
 PUSHS " (dinamico) = "
 WRITES
 PUSHG 5
 WRITEI
 WRITELN
 STOP