 START
 PUSHI 0
 PUSHI 0
 PUSHI 0
 PUSHI 0
 PUSHI 0
 PUSHS "Introduza X:"
 WRITES
 WRITELN
 READ
 ATOI
 STOREG 0
 PUSHS "Introduza Y:"
 WRITES
 WRITELN
 READ
 ATOI
 STOREG 1
 PUSHG 0
 PUSHI 0
 SUP
 STOREG 2
 PUSHS "NOT NOT (X>0) com X="
 WRITES
 PUSHG 0
 WRITEI
 PUSHS ": "
 WRITES
 PUSHG 2
 WRITEI
 WRITELN
 PUSHG 0
 PUSHG 1
 SUPEQ
 STOREG 3
 PUSHS "NOT (X<Y) com X="
 WRITES
 PUSHG 0
 WRITEI
 PUSHS " Y="
 WRITES
 PUSHG 1
 WRITEI
 PUSHS ": "
 WRITES
 PUSHG 3
 WRITEI
 WRITELN
 PUSHI 1
 STOREG 4
 PUSHS "NOT FALSE = "
 WRITES
 PUSHI 1
 WRITEI
 WRITELN
 STOP