 START
 PUSHI 0
 PUSHI 0
 PUSHI 0
 PUSHS "Introduza um numero inteiro positivo:"
 WRITES
 WRITELN
 READ
 ATOI
 STOREG 0
 PUSHI 1
 STOREG 2
 PUSHI 2
 STOREG 1
LBLPRIMO20:
 PUSHG 1
 PUSHG 0
 PUSHI 2
 DIV
 INFEQ
 PUSHG 2
 AND
 JZ LELSE1
 PUSHG 0
 PUSHG 1
 MOD
 PUSHI 0
 EQUAL
 JZ LELSE3
 PUSHI 0
 STOREG 2
 JUMP LENDIF4
LELSE3:
LENDIF4:
 PUSHG 1
 PUSHI 1
 ADD
 STOREG 1
 JUMP LBLPRIMO20
LELSE1:
LENDIF2:
 PUSHG 2
 JZ LELSE5
 PUSHG 0
 WRITEI
 PUSHS " e um numero primo"
 WRITES
 WRITELN
 JUMP LENDIF6
LELSE5:
 PUSHG 0
 WRITEI
 PUSHS " nao e um numero primo"
 WRITES
 WRITELN
LENDIF6:
 STOP