 START
 PUSHI 0
 PUSHI 0
 PUSHI 0
 PUSHS "INTRODUZA UM NUMERO DECIMAL INTEIRO:"
 WRITES
 WRITELN
 READ
 ATOI
 STOREG 0
 PUSHI 2
 STOREG 1
LDOSTART1:
 PUSHG 1
 PUSHI 9
 INFEQ
 JZ LDOEND2
 PUSHG 0
 PUSHG 1
 PUSHA FCONVRT
 CALL
 STOREG 2
 PUSHS "BASE "
 WRITES
 PUSHG 1
 WRITEI
 PUSHS ": "
 WRITES
 PUSHG 2
 WRITEI
 WRITELN
 PUSHG 1
 PUSHI 1
 ADD
 STOREG 1
 JUMP LDOSTART1
LDOEND2:
 STOP
FCONVRT:
 PUSHI 0
 PUSHI 0
 PUSHI 0
 PUSHI 0
 PUSHI 0
 PUSHI 0
 STOREL 4
 PUSHI 1
 STOREL 3
 PUSHL -2
 STOREL 1
LBLCONVRT20:
 PUSHL 1
 PUSHI 0
 SUP
 JZ LELSE3
 PUSHL 1
 PUSHL -1
 MOD
 STOREL 2
 PUSHL 4
 PUSHL 2
 PUSHL 3
 MUL
 ADD
 STOREL 4
 PUSHL 1
 PUSHL -1
 DIV
 STOREL 1
 PUSHL 3
 PUSHI 10
 MUL
 STOREL 3
 JUMP LBLCONVRT20
LELSE3:
LENDIF4:
 PUSHL 4
 STOREL 0
 PUSHL 0
 RETURN